{% extends "layout/layout.twig" %}

{% block content %}
    {% if validationErrors is empty %}
        <div class="alert alert-success text-center" role="alert">
            <p>Диплом получен</p>
        </div>
    {% else %}
        {% for keyType, errType in validationErrors %}
            {% for keyError, pointId in errType %}
                {% set point = attribute(pointRepository, "find", [pointId]) %}
                <div class="alert alert-danger text-center" role="alert">
                    <p>Не пройден этап {{ point.getName }}</p>
                </div>
            {% endfor %}

        {% endfor %}
    {% endif %}
{% endblock %}